.App {
  text-align: center;
  background-color: #aaa;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
  table {
    width: 100%;
  }
}

a {
  color: #61dafb;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}